/* 2015-07-25 20:40:42 --zmena na novy napad */

body {
	padding: 25px;
}

h1 {
	font-size: 200%;
	margin-bottom: 40px;
	text-align: right;
}

#wrapper {
	max-width: 50%;
}

.edit {
	height: 300px;
	width: 100%;
	border: 1px solid #888;
	position: relative;
	padding: 10px;
	font-size: 120%;
}

#editor1 {
	color: #444;
	position: absolute;
	top: 0px;
	left: 0px;
}

#shadow1 {
	color: #888;
	position: absolute;
	top: 0px;
	left: 0px;
}

#wrapper1 {
	position: relative;
}

#suggests {
	top: 0;
	left: 20px;
	min-height: 25px;
	position: absolute;
	visibility: hidden;
}

.completion {
	display: block;
}

#alternatives {
	display: none;
	position: absolute;
	min-width: 10px;
	font-size: 80%;
	background-color: #ddd;
	padding: 3px;
}

#alternatives span {
	margin-right: 6px;
	color: #888;
}

#alternatives .current {
	color: #333 !important;
}