/* 2015-07-25 20:40:42 --zmena na novy napad */

body {
	padding: 5px;
}

.edit {
	height: 300px;
	width: 100%;
	border: 1px solid black;
	position: relative;
}

#editor1 {
	color: #444;
	position: absolute;
	top: 0px;
	left: 0px;
}

#shadow1 {
	color: #888;
	position: absolute;
	top: 50px;
	left: 0px;
}

#wrapper1 {
	position: relative;
}

#suggests {
	top: 0;
	left: 20px;
	min-height: 25px;
	position: absolute;
	visibility: hidden;
}

.completion {
	display: block;
}